<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectcpe">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_language_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StatisticMember"></activity>
        <activity
            android:name=".AdminPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogoIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeginMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestSystem.TestSystem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.SumaryPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.PlayPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.DetailMission"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.FinallyCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunctionEditPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunctionEditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionExport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionImport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>