<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectcpe">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="English Practice"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logonew_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayingMode.ShowDisplayDetail"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/file_paths" />

        <activity android:name=".CreateMission.Import.ReCoveryMission" />
        <activity
            android:name=".CreateMission.Export.ExportOnGoogleDrive"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".CreateMission.Export.ExportOnDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.Import.ImportOnGoogledrive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.Import.ImportOnDevice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatisticMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LogoIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BeginMember"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestSystem.TestSystem"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.Feedback"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.SumaryPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.PlayPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayingMode.DetailMission"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.FinallyCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunctionEditPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunctionEditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.Export.MissionExport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.Import.MissionImport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateMission.MissionCreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MusicService" />
    </application>

</manifest>